body{
    /*background-image: url("https://res.cloudinary.com/dhg2lpfid/image/upload/v1571397781/image-450w-380428930_od8fna.jpg");*/
    background-image: url("https://res-console.cloudinary.com/dhg2lpfid/thumbnails/transform/v1/image/upload//v1571413641/Z3JvdXAtZGl2ZXJzZS1wZW9wbGUtZGlmZmVyZW50LW9jY3VwYXRpb25zLTQ1NTM5NDQ4X3E2Z2g5bA==/drilldown");
    /*background-image: url(https://res.cloudinary.com/dhg2lpfid/image/upload/v1570167265/Attachment-1_1_vgra0i.jpg);*/
    /*background-color: deepskyblue;*/
    background-size: cover;
    /*font-family: 'Scheherazade', serif;*/
    font-size: 18px;
}

h1{
    text-align: center;
    color: darkblue;

}

h2{
    text-align: center;
    color: darkblue;
}

h3{
    text-align: left;
}

h6{
    text-align: center;
    color: darkblue;
}

a{
    color: darkblue;
}

p{

}

button{
    alignment: center;
    background-color: darkblue;
    color: lightyellow;
}

.container{
    background-color: lightyellow;
    width: fit-content;

}

.container-fluid{
    background-color: lightyellow;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.jumbotron{
    background-color: lightyellow;
    alignment: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.card{
    text-align: center;
    width: 55rem;
}

.table{
    background-color: lightyellow;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

